/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffccff; /* Pink background color */
    background-image: url('resources/background.jpeg'); /* Add the path to your image here */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    transform: scale(80%);
}

.container {
    text-align: center;
    background-color: #fff; /* White background for the container */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a sleek look */
    padding: 20px; /* Common padding for container */
    transform-origin: top; /* Set transform origin to top */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Clock styles */
.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin: 100px auto 0px auto;
    position: relative;
    border: 20px solid cornsilk;
    margin-top: -5px; /* Adjust the value for desired gap size */
    margin-bottom: 5px;
}

.center {
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}

.hourHand, .minuteHand, .secondHand {
    position: absolute;
    left: 50%;
    transform-origin: bottom center;
}

.hourHand {
    width: 10px;
    height: 75px;
    background-color: #000;
    top: 75px;
    left: 145px;
    z-index: 10;
    transform: rotate(360deg);
}

.minuteHand {
    width: 5px;
    height: 120px;
    background-color: #000;
    top: 30px;
    left: 147px;
    z-index: 9;
    transform: rotate(90deg);
}

.secondHand {
    width: 2px;
    height: 120px;
    background-color: red;
    top: 30px;
    left: 149px;
    z-index: 8;
    transform: rotate(360deg);
}

.time {
    position: absolute;
    top: 45%;
    left: 10%;
    border: 1px solid #fff8dc;
    background-color: #fff;
    padding: 5px;
    display: block;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    min-width: 70px;
    height: 15px;
}

.time small {
    color: red;
    transition: all 0.05s;
}

.clock ul {
    list-style: none;
    padding: 0;
}

.clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: red;
}

.clock ul li:nth-child(1) {
    right: 22%;
    top: 6.5%;
}

.clock ul li:nth-child(2) {
    right: 6%;
    top: 25%;
}

.clock ul li:nth-child(3),
.clock ul li:nth-child(6),
.clock ul li:nth-child(9),
.clock ul li:nth-child(12) {
    right: 1%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.clock ul li:nth-child(4) {
    right: 6%;
    top: 69%;
}

.clock ul li:nth-child(5) {
    right: 22%;
    top: 84%;
}

.clock ul li:nth-child(7) {
    left: 22%;
    top: 84%;
}

.clock ul li:nth-child(8) {
    left: 6%;
    top: 69%;
}

.clock ul li:nth-child(10) {
    left: 6%;
    top: 25%;
}

.clock ul li:nth-child(11) {
    left: 22%;
    top: 6.5%;
}

/* Button styles */
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

/* Button container styles */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.top-buttons,
.bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bottom-buttons {
    margin-top: 10px;
}

/* Clock container styles */
.clock-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.clock-subcontainer {
    margin: 0 10px;
}

/* Responsive adjustments */
@media (max-aspect-ratio: 9/16) {
    body {
        background-size: contain;
    }

    .container {
        transform: scale(calc(70vh / 100));
        margin-top: 0;
    }

    .greeting-container {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .clock-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .clock-subcontainer {
        margin: 10px;
    }

    .clock {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .hourHand, .minuteHand, .secondHand {
        position: absolute;
        left: 50%;
        transform-origin: bottom center;
    }

    .hourHand {
        height: calc(50% - 50px);
        top: 50px;
    }

    .minuteHand {
        height: calc(50% - 30px);
        top: 30px;
    }

    .secondHand {
        height: calc(50% - 30px);
        top: 30px;
    }
}

.clock ul li:nth-child(12) {
    right: calc(50% - 10px);
    top: 0%;
}


.clock ul li:nth-child(6) {
    left: calc(50% - 10px);
    top: calc(99% - 20px);
}

.clock ul li:nth-child(3) {
    right: calc(99% - 20px);
    top: calc(50% - 10px);
}

.clock ul li:nth-child(9) {
    left: calc(94% - 10px);
    top: calc(50% - 10px);
}



